{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Chinguloop!</h1>
    {% if not user.is_authenticated %}
        <p>Please log in or register to get started.</p>
    {% endif %}

    <hr>

    {% if posts %}
        <h2>Latest Posts</h2>
        {% for post in posts %}
            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
                <a href="{% url 'profile' username=post.author.username %}">
                    {% if post.author.profile.profile_picture %}
                        <img src="{{ post.author.profile.profile_picture.url }}" alt="{{ post.author.username }}'s profile picture" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                    {% endif %}
                </a>
                <p style="display:inline;">Posted by <a href="{% url 'profile' username=post.author.username %}">{{ post.author.username }}</a> on {{ post.created_at|date:"F j, Y, P" }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" style="max-width: 100%; height: auto;">
                {% endif %}
                <p>{{ post.caption }}</p>

                {% if request.user == post.author %}
                    <form method="post" action="{% url 'delete_post' post_id=post.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No posts to display yet.</p>
    {% endif %}
{% endblock %}