{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h1 style="color: red;">Account Banned</h1>
        <p>Your account has been banned for violating our community guidelines.</p>
        <p>You can still view content, but you are unable to update, post, comment, or react.</p>
        <p>If you believe this is an error, please contact our support team.</p>
        <a href="{% url 'home' %}">Return to Homepage</a>
    </div>
{% endblock %}