{% extends 'base.html' %}

{% block content %}
    <h2>Update Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        {% if user.profile.profile_picture %}
            <p>Current Profile Picture:</p>
            <img src="{{ user.profile.profile_picture.url }}" alt="Current Profile Picture" style="max-width: 200px;">
            <p>{{ profile_form.clear_profile_picture }} {{ profile_form.clear_profile_picture.label_tag }}</p>
        {% endif %}

        <button type="submit">Update</button>
    </form>
{% endblock %}