{% extends 'base.html' %}

{% block content %}
    <h2>Update Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Username: {{ user_form.username }}</p>
        <p>Email: {{ user_form.email }}</p>

        <p>Bio: {{ profile_form.bio }}</p>
        <p>Profile Picture: {{ profile_form.profile_picture }}</p>

        {% if user.profile.profile_picture %}
            <p>Current Profile Picture:</p>
            <img src="{{ user.profile.profile_picture.url }}" alt="Current Profile Picture" style="max-width: 200px;">
        {% endif %}

        <button type="submit">Update</button>
    </form>
{% endblock %}