{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="togglePasswordVisibility('id_password1')">Show/Hide Password</button>
        <button type="button" onclick="togglePasswordVisibility('id_password2')">Show/Hide Confirmation</button>
        <button type="submit">Register</button>
    </form>

    <script>
        function togglePasswordVisibility(fieldId) {
            var passwordField = document.getElementById(fieldId);
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
{% endblock %}