<!DOCTYPE html>
<html>
<head>
    <title>Chinguloop</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% if request.user.is_authenticated %}
            <span>Hello, {{ request.user.username }}!</span>
            <a href="{% url 'profile' username=request.user.username %}">Profile</a>
            <a href="{% url 'create_post' %}">Create Post</a>
            <a href="{% url 'conversation_list' %}">Messages</a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="border: none; background: none; cursor: pointer; color: blue; text-decoration: underline; font-family: inherit; font-size: inherit;">Log Out</button>
            </form>
            {% if request.user.is_authenticated and request.user.admin.is_admin %}
                <a href="{% url 'admin_dashboard' %}">
                    <button>Admin Dashboard</button>
                </a>
            {% endif %}
            <form class="d-flex" action="{% url 'search' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>